.home {
  margin: 0 auto;
  width: 100%;
}
p {
  font-size: 10px;
}

h1 {
  text-align: center;
}
.grid {
  align-items: center;
  flex-direction: column;
}

%grid-card {
  background-color: $secondary-background-color;
  border-radius: $border-radius;
  height: 250px;
  margin-bottom: 20px;
  position: relative;
  transition: box-shadow 200ms ease-in-out;
  width: 300px;
  .grid-item-img-container,
  .grid-item-img {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  .grid-item-img-container {
    background-color: $primary-background-color;
    border: 1px solid $sauce-image-border;
    height: 150px;
    width: 300px;

    .grid-item-img {
      height: 100%;
      margin: 0 auto;
      object-fit: contain;
      width: 100%;
    }
  }
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 1px 1px 1em 1px $secondary-background-color-lite;
  }
}

.grid-item {
  @extend %grid-card;
  .overlay {
    display: none;
  }
}

.grid-item-text-container {
  padding: 10px;
}
.grid-item-delete-container {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  visibility: visible;
  z-index: 2;
  cursor: pointer;
  .grid-item-delete {
    color: black;
    font-size: 1.2em;
  }
}

@include mediaSm {
  .home {
    width: 440px;
  }
  h1 {
    text-align: left;
  }
  .grid {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grid-item {
    flex: 150px 0 0;
    position: relative;
    margin: 0 10px 20px 10px;
    width: 200px;
    .grid-item-img-container {
      width: 200px;
    }
    .grid-item-delete-container {
      transition: background-color 180ms ease-in-out;
      .grid-item-delete {
        color: white;
        visibility: hidden;
        transition: color 180ms ease-in-out;
      }
      &:hover {
        background-color: white;
        .grid-item-delete {
          color: $pastel-red;
        }
      }
    }
    ///// OVERLAY have to make visible

    .overlay,
    .overlay-color {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .overlay,
    .overlay-text {
      justify-content: center;
      align-items: center;
    }
    .overlay-color,
    .overlay-text {
      opacity: 0;
      border-radius: $border-radius;
    }
    .overlay {
      display: flex;
      z-index: 1;
      .overlay-color {
        background-color: $pastel-red;
        transition: opacity 180ms ease-in-out;
      }
      .overlay-text {
        z-index: 2;
        border: 2px solid white;
        width: 100px;
        height: 40px;
        transition: background-color 180ms ease-in-out, color 180ms ease-in-out;
        p {
          font-size: 1.3em;
          color: white;
        }
        &:hover {
          background-color: white;
          border: 2px solid transparent;
          p {
            color: $pastel-red;
          }
        }
      }
    }
    &:hover,
    &:focus {
      .grid-item-delete {
        visibility: visible;
      }
      .overlay-color {
        opacity: 0.8;
      }
      .overlay-text {
        opacity: 1;
      }
    }

    ///// END OF OVERLAY
  }
}

@include mediaMd {
  .home {
    width: 900px;
  }
}
