.home {
  margin: 0 auto;
  width: 100%;
}
p {
  font-size: 10px;
}

h1 {
  text-align: center;
}
.grid {
  align-items: center;
  flex-direction: column;
}
.grid-item {
  background-color: $secondary-background-color;
  width: 300px;
  height: 250px;
  position: relative;
  margin-bottom: 20px;
  .grid-item-img-container {
    background-color: $primary-background-color;
    border: 1px solid $sauce-image-border;
    height: 150px;
    width: 300px;
    .grid-item-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0 auto;
    }
  }
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 1px 1px 1em 1px $secondary-background-color-lite;
  }
}

.grid-item-text-container {
  padding: 10px;
}
.grid-item-delete {
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  right: 9px;
  top: 5px;
  visibility: visible;
}

@include mediaSm {
  .home {
    width: 440px;
  }
  h1 {
    text-align: left;
  }
  .grid {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grid-item {
    flex: 150px 0 0;
    position: relative;
    margin: 0 10px 20px 10px;
    transition: box-shadow 200ms ease-in-out;
    width: 200px;
    .grid-item-img-container {
      width: 200px;
    }

    &:hover,
    &:focus {
      .grid-item-delete {
        visibility: visible;
      }
    }
    .grid-item-delete {
      visibility: hidden;
      &:hover {
        color: $negative-cta-color;
      }
    }
  }
}

@include mediaMd {
  .home {
    width: 900px;
  }
}
