nav {
  padding: 20px 40px;
  background-color: $secondary-background-color-darker;
  justify-content: center;
  a {
    @extend %transition-text-color;
    color: set-text-color($primary-text-color);
  }
  a:hover,
  a:focus {
    color: $primary-text-color;
  }
}
