nav {
  padding: 20px 40px;
  background-color: $secondary-background-color-darker;
  justify-content: center;
  a {
    @extend %transition-text-color;
    color: set-text-color($primary-text-color);
  }
  a:hover,
  a:focus {
    color: $primary-text-color;
  }
}
.toast {
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  @extend %transition-opacity;
  opacity: 0;
  font-size: 0.7em;
  &.success {
    opacity: 1;
    background-color: lightgreen;
  }
}
