button {
  @extend %transition-background-text-color;
  cursor: pointer;
  height: 30px;
  border: none;
  border-radius: 10px;
  min-width: 65px;
  &:hover,
  &:focus {
    color: set-text-color($primary-text-color);
    background-color: $primary-positive-cta-color;
  }
}
