.details {
  flex-direction: column;
}
.left {
  flex-direction: column;
  .details-text-container {
    background-color: $secondary-background-color-lite;
    height: 30vh;
    padding: 1em 2em;
    a {
      color: $title-text-color;
    }
    h1 {
      font-size: 4em;
      color: $secondary-text-color;
    }
  }
  .details-img-container {
    height: 70vh;
    background-color: #dddedf;
    .details-img {
      width: 100%;
      object-fit: contain;
    }
  }
}
.right {
  font-size: 12px;
  line-height: 1.3em;
  padding: 15px;
}

@include mediaMd {
  .details {
    flex-direction: row;
    min-width: 800px;
  }
  .right {
    width: 300px;
  }
  .left {
    width: calc(100% - 300px);
  }
}
