%transition-transform {
  transition: transform 180ms ease-in-out;
}

%transition-background-text-color {
  transition: background-color 180ms ease-in-out, color 180ms ease-in-out;
}

%transition-text-color {
  transition: color 180ms ease-in-out;
}

%transition-opacity {
  transition: opacity 180ms ease-in-out;
}
