.details {
  flex-direction: column;
}
.left {
  flex-direction: column;
  .details-text-container {
    background-color: #e4e5e6;
    height: 30vh;
    padding: 1em 2em;
    a {
      color: $title-text-color;
      text-transform: uppercase;
    }
    h2 {
      font-size: 3em;
      text-transform: capitalize;
      color: $secondary-text-color;
    }
    i {
      color: $title-text-color;
    }
  }
  .details-img-container {
    background-color: $secondary-background-color-lite;
    height: 70vh;

    .details-img {
      width: 100%;
      object-fit: contain;
    }
  }
}
.right {
  font-size: 12px;
  padding: 15px;
  p {
    font-size: 1em;
  }
}

@include mediaSm {
  .details {
    flex-direction: row;
    // min-width: 800px;
  }
  .left {
    width: calc(100% - 300px);
    .details-text-container {
      h2 {
        font-size: 4em;
      }
    }
  }
  .right {
    width: 300px;
    p {
      font-size: 1.1em;
    }
  }
}
@include mediaMd {
  .left {
    width: calc(100% - 450px);
    .details-text-container {
      h2 {
        font-size: 5em;
      }
    }
  }
  .right {
    width: 450px;
    p {
      font-size: 1.3em;
    }
  }
}
