// Color Palette

$primary-background-color: #fff;
$secondary-background-color: #f1f2f3;
$secondary-background-color-lite: #d8d8d8;
$secondary-background-color-darker: #878787;

$sauce-image-border: #c7c8c9;

$primary-text-color: #000;
$secondary-text-color: #6e6f70;
$title-text-color: #a70710;

$primary-positive-cta-color: #1da362;
$secondary-positive-cta-color: #3e85ca;
$negative-cta-color: #ca3b33;

// Dynamically Set Color (if needed)
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
// ============ End of Color Palette

// Font Palette
$heading-font: 'Avenir', sans-serif;
$sub-heading-font: Helvetica;
$body-font: Times;
// ============ End of Font Palette
